# Python local environment
venv/

# Python cache
__pycache__/
*/__pycache__/
*.pyc

# Build artifacts
build/
jfrog_api_tool.egg-info/
jfat-chart/
Hakaton/*
# macOS system file
.DS_Store

# Test/temp files
test_permissions.py

# Reports & Logs
*.zip
*.pdf
*.log